<h1><%= @project.name %> </h1>

<p>Company: <%= @project.company.name %>
<p>Default Rate: <%= @project.default_rate %></p>
<p>Slug: <%= @project.slug %></p>

<p><%= link_to 'All Projects', projects_path %></p>

<% if !@project.works.empty? %>
<table>
   <tbody>
     <tr>
       <th>View</th>
       <th>User</th>
       <th>Project</th>
       <th>Date/Time</th>
       <th>Hours</th>
     </tr>
     <% @project.works.each do |work| %>
     <tr>
        <td><%= link_to("View", work) %></td>
        <td><%= work.user %></td>
        <td><%= work.project %></td>
        <td><%= work.datetimeperformed.strftime('%m/%d/%Y %H:%M') %></td>
        <td><%= work.hours %></td>
     </tr>
     <% end %>
   </tbody>
</table>
<% end %>
