<h1><%= @project.name %> </h1>

<p>Company: <%= @project.company.name %>
<p>Default Rate: <%= @project.default_rate %></p>
<p>Slug: <%= @project.slug %></p>

<% if !@project.works.empty? %>
<table>
   <tbody>
     <tr>
       <th>View</th>
       <th>User</th>
       <th>Project</th>
       <th>Date/Time</th>
       <th>Hours</th>
     </tr>
    <%= render partial: "works/work", collection: @project.works %>
   </tbody>
</table>
<% end %>

<% content_for :aside do %>
  <% render 'sidebar' %>
<% end %>
